@tailwind base;
@tailwind components;
@tailwind utilities;

  #map {
    height: 70vh;
    border: 2px solid grey;
  }
  
  .custom-map-control-button {
    border: 1px solid #000;
    padding: 8px;
    background-color: #fff;
  }
  